body{
    background-color: #302D47;
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: white;
}
.logo-title{
    font-size: 51px;
    font-weight: 900;
}
.logo-sub-title{
    font-size: 11px;
    color: #BFBFBF;
}
.welcome{
    font-size: 20px;
    color: #BFBFBF;
    margin-left: 46px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button{
    background-color: #6C63FF;
    color: white;
    padding: 17px 33px;
    font-size: 20px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: none;
    transition-duration: 300ms;

}
.button1{
    background-color: red;
    color: white;
    padding: 17px 33px;
    font-size: 20px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: none;
    transition-duration: 300ms;
    margin-left: 15px;
}
.button:hover{
    border: 1px solid #302D47;
    background-color: transparent;
}
.button1:hover{
    border: 1px solid #302D47;
    background-color: transparent;
}
.button-header-wrapper{
    display: flex;
}
.space{
    display: flex;
    align-items: center;
}
.sub-header{
    display: flex;
    margin-top: 144px;
    justify-content: space-around;
    align-items: center;
}
.sub-header-1{
    display: flex;
    align-items: center;

}
.text{
    height: 25px;
    width: 190px;
    margin-right: 10px;
    color: #8D8BA4;
    background-color: #302D47;
    border: 1px solid;
    border-radius: 7px;
    
}
h3{
    color: white;
    font-size: 32px;
}
.button-box{
    display: flex;
}
.product{
    width: fit-content;
    background-color:#BFBFBF2E;
}

.container-center{
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: fit-content;
    justify-content: center;

}
.produto-titulo{
    color: #BFBFBF;
    font-size: 20px;
}
.produto-preço{
    color: #BFBFBF;
    font-size: 20px;
}